body {
    min-height: 100px;
    margin: 0;
    
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

img {
    border-radius: 25px;
    width: 300px;
    height: 300px;
    margin: 30px;

}

.section1 {
    background-color: #1F2937;
}

#logo {
    font-size: 24px;
    color: #f9faf8;
}

.title {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.secondarytext {
    font-size: 18px;
    color: #e5e7eb;
}

ul {
    list-style: none;
    font-size: 18px;
    display: flex;
    gap: 50px;
}



.header1 {
    display: flex; 
    padding: 15px;
    align-items: center;
    justify-content: space-between
}

.content1 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: flex-start;
    max-width: 600px;
    flex-wrap: wrap;
    
}

button {
    background-color: #3882f6;
    height: 40px;
    margin-top: 10px;
    border-radius: 9px;
    border: 0;
    width: 100px;
    color: white;
    

}

.section2 {
    background-color: white;
}

.header2 {
    font-size: 36px;
    font-weight: 800;
    display: flex;
    justify-content: center;
    padding: 10px;
}

.content2 {
    display: flex;
    justify-content: center;
}

div.item{
    display: inline-block;
    vertical-align: top;
    text-align: center;
    padding: 20px;
}
.section2 img {
    width: 250px;
    height: 250px;
}
.caption {
    display: block;
}

.section3 {
    background-color: #e5e7eb;
    padding: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quote {
    font-style: italic;
    font-size: 36px;
    padding: 10px;
    max-width: 800px;
    flex-wrap: wrap;
    

}
.stanley {
  font-weight: bold;
    font-size: 26px;
    text-align: right;
    
}

.section4 {
    background-color: white;
    display: flex;
    justify-content: center;
}

.container4 {
    background-color: #3882f6;
    color: white;
    border-radius: 8px;
    padding: 40px;
    width: 900px;
    display: flex;
    justify-content: space-between;
    margin: 40px;
    align-items: center;
    
}

.milferstext {
    padding: 20px
}

.milfers {
    font-weight: bold;
    font-size: 18px;
}


.button4 {
    border: 2px solid white;
}

.footer{
    color: white;
    background-color: #1F2937;
    text-align: center;
    padding: 20px;
}